@charset "UTF-8";
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  /*→ importante// list-style-type: none;// outline: none;//
    border:none ;// overflow: hidden;*/
}

* > *,
*::before > *,
*::after > * {
  /* Desativar a seleção do usuário */
  -webkit-user-select: none;
  user-select: none;
  /* Desativar longa pressione links*/
  -webkit-touch-callout: none;
  /* Desativar arrastar e soltar */
  -webkit-user-drag: none;
  /* Cor de destaque transparente. */
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

:root {
  font-family: 'Segoe UI';
  font-family: system-ui, -apple-system, -apple-system-font, 'Segoe UI', 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  outline: none;
}

body {
  background-color: #F7F7F7;
  background-image: linear-gradient(to bottom, #F7F7F7 2%, #ffffff 51%);
  height: 100vh;
  width: 100%;
  position: relative;
  overflow: hidden;
}

body > .app {
  background-color: transparent;
  height: 100vh;
  width: 100%;
  display: none;
  gap: 10px;
  align-content: center;
  align-items: center;
  justify-items: center;
  justify-content: center;
}

body > .app > img.logoApache {
  min-height: 150px;
  max-height: 150px;
}

body > .app > h1 {
  font-size: 24px;
  font-weight: normal;
  margin: 0px;
  overflow: visible;
  padding: 0px;
  text-align: center;
}

body > .app > button.event {
  font-size: 0.8em;
}

body > .app > span {
  font-size: 0.8em;
  justify-self: baseline;
  width: 100%;
  text-align: center;
}

body > .app > p {
  color: #FFFFFF;
  font-size: 0.8em;
  padding: 2px 0.5px;
  border-radius: 4px;
}

body > .app #deviceready.ready .event.conectando {
  display: none;
}

body > .app #deviceready.ready .event.conectado {
  display: block;
}

body > .app .event.conectando {
  background-color: #333333;
  display: block;
}

body > .app .event.conectado {
  background-color: #4B946A;
  display: none;
}

body > .app button#btn_entrarApp {
  font-size: 1em;
  letter-spacing: 2px;
  color: white;
  font-weight: 900;
  background-color: darkcyan;
  background-color: #4B946A;
  background-color: deeppink;
  display: block;
  visibility: hidden;
  padding: 8px 12px;
  width: inherit;
  max-width: 120px;
  border-radius: 4px;
  border: none;
  outline: none;
}

body > .pageHome {
  background-color: transparent;
  height: 90vh;
  width: 100%;
  display: none;
  gap: 10px;
  align-content: baseline;
  align-items: center;
  justify-items: center;
  /* (backgruond com imagem e gradiente) */
}

body > .pageHome > img {
  height: 165px;
  width: initial;
  min-width: 300px;
  max-width: 300px;
  border: 1px solid gainsboro;
}

body > .pageHome > button {
  padding: 5px 8px;
}

body > .pageHome > span {
  font-size: 0.8em;
  width: 80%;
  font-size: 0.8em;
  word-break: break-all;
  overflow: hidden;
}

body > .pageHome > header.pageHome {
  width: 100%;
  min-height: 200px;
  display: grid;
  gap: 2px 4px;
  grid-auto-flow: row;
  align-items: center;
  align-content: flex-end;
  justify-items: center;
  justify-content: stretch;
  position: relative;
}

body > .pageHome > header.pageHome > span {
  color: white;
  font-size: 0.9em;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  letter-spacing: 3px;
}

body > .pageHome > header.pageHome > h1 {
  color: white;
  font-size: 1.7em;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  letter-spacing: 3px;
}

body > .pageHome > header.pageHome > h2.tituloLogo {
  font-size: 0.7em;
}

body > .pageHome > header.pageHome > button {
  background-color: transparent;
  padding: 4px;
  margin: 5px;
  height: 31px;
  width: 31px;
  display: grid;
  justify-content: center;
  align-content: center;
  border: 0px solid white;
  border-radius: 50%;
  outline: none;
}

body > .pageHome > header.pageHome > button > .svgMenu {
  fill: white;
  stroke: white;
  height: 18px;
  width: 24px;
  stroke-width: 0.1px;
}

body > .pageHome > header.pageHome > button > svg {
  fill: white;
  stroke: white;
  height: 18px;
  stroke-width: 0.1px;
}

body > .paginas {
  background-color: white;
  min-height: 90vh;
  padding: 0px 0px;
  width: 100%;
  display: none;
  flex-direction: column;
  overflow: scroll;
}

body > .paginas > header {
  background-color: white;
  width: 100%;
  display: grid;
  gap: 2px 4px;
  grid-auto-flow: row;
  align-items: center;
  align-content: center;
  justify-items: center;
  justify-content: stretch;
  box-shadow: 0px 2px 12px 0px rgba(0, 0, 0, 0.3);
}

body > .paginas > header > h1 {
  font-size: 1.7em;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  letter-spacing: 3px;
}

body > .paginas > main {
  background-color: transparent;
  width: 100%;
  padding: 5px 15px;
  min-height: fit-content;
  display: grid;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body > .paginas > main > h1.xT1 {
  margin: 0.85rem 0rem 0.95rem 0rem !important;
  font-size: 2rem;
  line-height: 2.0rem;
  letter-spacing: -0.09375rem;
  font-weight: 700;
  font-family: opensanstitle, helvetica, arial, sans-serif;
  word-break: break-all;
}

body > .paginas > main > h2.xT2 {
  margin: 0.85rem 0.0rem 0.45rem 0.0rem !important;
  font-size: 1.4rem;
  line-height: 1.4rem;
  letter-spacing: -0.09375rem;
  font-weight: 700;
  font-family: opensanstitle, helvetica, arial, sans-serif;
  word-break: break-all;
}

body > .paginas > main > h3.xT3 {
  margin: 0.85rem 0.0rem 0.45rem 0.0rem !important;
  font-size: 1.2rem;
  line-height: 1.1rem;
  letter-spacing: -0.09375rem;
  font-weight: 700;
  font-family: opensanstitle, helvetica, arial, sans-serif;
  word-break: break-all;
}

body > .paginas > main > h4.xT5, body > .paginas > main h5.xT5 {
  margin: 0.85rem 0.0rem 0.45rem 0.0rem !important;
  font-size: 1.2rem;
  line-height: 0.9rem;
  letter-spacing: -0.09375rem;
  font-weight: 700;
  font-family: opensanstitle, helvetica, arial, sans-serif;
  word-break: break-all;
}

body > .paginas > main > p.defaultP1 {
  font-size: 1.125rem;
  font-family: 'Lato Regular',helvetica,arial,sans-serif;
  font-family: 'Open Sans Regular',helvetica,arial,sans-serif;
  margin-bottom: 1.0rem;
  line-height: 1.75rem;
  letter-spacing: -.03125rem;
  overflow-wrap: break-word;
}

body > footer {
  background-color: red;
  background-color: white;
  background-color: #2D4B73;
  padding: 0px 5px;
  height: 64px;
  width: 100%;
  display: grid;
  gap: 10px;
  grid-auto-flow: column;
  overflow: hidden;
  position: fixed;
  bottom: 0;
  z-index: 99;
}

body .H1-recolhido {
  color: red !important;
}

body .H2-recolhido {
  color: blue;
}
/*# sourceMappingURL=index.css.map */