/* Mapeamento dos peso das fontes

* 100 Thin (Hairline)
* 200 Extra Light (Ultra Light, Ultra Fino)
* 300 Light (Fino)
* 400 Normal
* 500 Medium (Médio)
* 600 Semi Bold (Demi Bold, Semi Negrito)
* 700 Bold (Negrito)
* 800 Extra Bold (Ultra Bold, Super Negrito)
* 900 Black (Heavy)

*/

/* #region Lato */
@font-face {
    src: url(./../VARIADAS/Lato/Lato-Thin.ttf);
    font-family: 'Lato Thin';
    font-weight: 200;
}
@font-face {
    src: url(./../VARIADAS/Lato/Lato-Light.ttf);
    font-family: 'Lato Light';
    font-weight: 300;
}
@font-face {
    src: url(./../VARIADAS/Lato/Lato-Regular.ttf);
    font-family: 'Lato Regular';
    font-weight: normal;
}
@font-face {
    src: url(./../VARIADAS/Lato/Lato-Bold.ttf);
    font-family: 'Lato Bold';
    font-weight: 700;
}
@font-face {
    src: url(./../VARIADAS/Lato/Lato-Black.ttf);
    font-family: 'Lato Black';
    font-weight: 900;
}
/* #endregion Lato */
/* #region OpenSansCondensed */
@font-face {
    src: url(./../VARIADAS/Open_Sans_Condensed/OpenSansCondensed-Light.ttf);
    font-family: 'Open Sans Condensed Light';
    font-weight: 300;
}
@font-face {
    src: url(./../VARIADAS/Open_Sans_Condensed/OpenSansCondensed-Bold.ttf);
    font-family: 'Open Sans Condensed Bold';
    font-weight: 700;
}

/* #endregion OpenSansCondensed */
/* #region OpenSans */
@font-face {
    src: url(./../VARIADAS/Open_Sans/OpenSans-Light.ttf);
    font-family: 'Open Sans Light';
    font-weight: 300;
}
@font-face {
    src: url(./../VARIADAS/Open_Sans/OpenSans-Regular.ttf);
    font-family: 'Open Sans Regular';
    font-weight: normal;
}
@font-face {
    src: url(./../VARIADAS/Open_Sans/OpenSans-SemiBold.ttf);
    font-family: 'Open Sans SemiBold';
    font-weight: 600;
}
@font-face {
    src: url(./../VARIADAS/Open_Sans/OpenSans-Bold.ttf);
    font-family: 'Open Sans Bold';
    font-weight: 700;
}
@font-face {
    src: url(./../VARIADAS/Open_Sans/OpenSans-ExtraBold.ttf);
    font-family: 'Open Sans ExtraBold';
    font-weight: 800;
}
/* #endregion OpenSans */
/* #region Roboto */

@font-face {
    src: url(./../VARIADAS/Roboto/Roboto-Thin.ttf);
    font-family: 'Roboto Thin';
    font-weight: 100;
}
@font-face {
    src: url(./../VARIADAS/Roboto/Roboto-Light.ttf);
    font-family: 'Roboto Light';
    font-weight: 300;
}
@font-face {
    src: url(./../VARIADAS/Roboto/Roboto-Regular.ttf);
    font-family: 'Roboto Regular';
    font-weight: normal;
}
@font-face {
    src: url(./../VARIADAS/Roboto/Roboto-Medium.ttf);
    font-family: 'Roboto Medium';
    font-weight: 600;
}
@font-face {
    src: url(./../VARIADAS/Roboto/Roboto-Bold.ttf);
    font-family: 'Roboto Bold';
    font-weight: 700;
}
@font-face {
    src: url(./../VARIADAS/Roboto/Roboto-Black.ttf);
    font-family: 'Roboto Black';
    font-weight: 900;
}
/* #endregion Roboto-Regular */
/* #region Oswald */

@font-face {
    src: url(./../VARIADAS/Oswald/static/Oswald-Light.ttf);
    font-family: 'Oswald Light';
    font-weight: 300;
}
@font-face {
    src: url(./../VARIADAS/Oswald/static/Oswald-Regular.ttf);
    font-family: 'Oswald Regular';
    font-weight: normal;
}
@font-face {
    src: url(./../VARIADAS/Oswald/static/Oswald-Medium.ttf);
    font-family: 'Oswald Medium';
    font-weight: 500;
}
@font-face {
    src: url(./../VARIADAS/Oswald/static/Oswald-SemiBold.ttf);
    font-family: 'Oswald SemiBold';
    font-weight: 600;
}
@font-face {
    src: url(./../VARIADAS/Oswald/static/Oswald-Bold.ttf);
    font-family: 'Oswald Bold';
    font-weight: 700;
}

/* #endregion Oswald-Regular */
/* #region JosefinSans */

@font-face {
    src: url(./../VARIADAS/Josefin_Sans/static/JosefinSans-Thin.ttf);
    font-family: 'Josefin Sans Thin';
    font-weight: 100;
}
@font-face {
    src: url(./../VARIADAS/Josefin_Sans/static/JosefinSans-ThinItalic.ttf);
    font-family: 'Josefin Sans Thin Italic';
    font-weight: 100;
}
@font-face {
    src: url(./../VARIADAS/Josefin_Sans/static/JosefinSans-ExtraLight.ttf);
    font-family: 'Josefin Sans Extra Light';
    font-weight: 200;
}
@font-face {
    src: url(./../VARIADAS/Josefin_Sans/static/JosefinSans-ExtraLightItalic.ttf);
    font-family: 'Josefin Sans Extra Light Italic';
    font-weight: 200;
}
@font-face {
    src: url(./../VARIADAS/Josefin_Sans/static/JosefinSans-Light.ttf);
    font-family: 'Josefin Sans Light';
    font-weight: 300;
}
@font-face {
    src: url(./../VARIADAS/Josefin_Sans/static/JosefinSans-LightItalic.ttf);
    font-family: 'Josefin Sans Light Italic';
    font-weight: 300;
}

@font-face {
    src: url(./../VARIADAS/Josefin_Sans/static/JosefinSans-Regular.ttf);
    font-family: 'Josefin Sans Regular';
    font-weight: normal;
}
@font-face {
    src: url(./../VARIADAS/Josefin_Sans/static/JosefinSans-Italic.ttf);
    font-family: 'Josefin Sans Italic';
    font-weight: normal;
}
@font-face {
    src: url(./../VARIADAS/Josefin_Sans/static/JosefinSans-Medium.ttf);
    font-family: 'Josefin Sans Medium';
    font-weight: 500;
}
@font-face {
    src: url(./../VARIADAS/Josefin_Sans/static/JosefinSans-MediumItalic.ttf);
    font-family: 'Josefin Sans Medium Italic';
    font-weight: 500;
}
@font-face {
    src: url(./../VARIADAS/Josefin_Sans/static/JosefinSans-SemiBold.ttf);
    font-family: 'Josefin Sans SemiBold';
    font-weight: 600;
}
@font-face {
    src: url(./../VARIADAS/Josefin_Sans/static/JosefinSans-SemiBoldItalic.ttf);
    font-family: 'Josefin Sans SemiBold Italic';
    font-weight: 600;
}
@font-face {
    src: url(./../VARIADAS/Josefin_Sans/static/JosefinSans-Bold.ttf);
    font-family: 'Josefin Sans Bold';
    font-weight: 700;
}
@font-face {
    src: url(./../VARIADAS/Josefin_Sans/static/JosefinSans-BoldItalic.ttf);
    font-family: 'Josefin Sans Bold Italic';
    font-weight: 700;
}

/* #endregion JosefinSans */
/* #region JosefinSlab-Regular */
@font-face {
    src: url(./../VARIADAS/Josefin_Slab/JosefinSlab-Regular.ttf);
    font-family: 'Josefin Slab Regular';
    font-weight: normal;
}
@font-face {
    src: url(./../VARIADAS/Josefin_Slab/JosefinSlab-Thin.ttf);
    font-family: 'Josefin Slab Thin';
    font-weight: 100;
}
@font-face {
    src: url(./../VARIADAS/Josefin_Slab/JosefinSlab-ThinItalic.ttf);
    font-family: 'Josefin Slab Thin Italic';
    font-weight: 100;
}
@font-face {
    src: url(./../VARIADAS/Josefin_Slab/JosefinSlab-Light.ttf);
    font-family: 'Josefin Slab Light';
    font-weight: 300;
}
@font-face {
    src: url(./../VARIADAS/Josefin_Slab/JosefinSlab-LightItalic.ttf);
    font-family: 'Josefin Slab Light Italic';
    font-weight: 300;
}
@font-face {
    src: url(./../VARIADAS/Josefin_Slab/JosefinSlab-Regular.ttf);
    font-family: 'Josefin Slab Regular';
    font-weight: 400;
}
@font-face {
    src: url(./../VARIADAS/Josefin_Slab/JosefinSlab-Italic.ttf);
    font-family: 'Josefin Slab Regular Italic';
    font-weight: 400;
}
@font-face {
    src: url(./../VARIADAS/Josefin_Slab/JosefinSlab-SemiBold.ttf);
    font-family: 'Josefin Slab SemiBold';
    font-weight: 600;
}
@font-face {
    src: url(./../VARIADAS/Josefin_Slab/JosefinSlab-SemiBoldItalic.ttf);
    font-family: 'Josefin Slab SemiBold Italic';
    font-weight: 600;
}
@font-face {
    src: url(./../VARIADAS/Josefin_Slab/JosefinSlab-Bold.ttf);
    font-family: 'Josefin Slab Bold';
    font-weight: 700;
}
@font-face {
    src: url(./../VARIADAS/Josefin_Slab/JosefinSlab-BoldItalic.ttf);
    font-family: 'Josefin Slab Bold Italic';
    font-weight: 700;
}
/* #endregion JosefinSlab-Regular */
/* #region Dosis */
@font-face {
    src: url(./../VARIADAS/Dosis/Dosis-ExtraLight.ttf);
    font-family: 'Dosis Extra Light';
    font-weight: 200;
}
@font-face {
    src: url(./../VARIADAS/Dosis/Dosis-Light.ttf);
    font-family: 'Dosis Light';
    font-weight: 300;
}
@font-face {
    src: url(./../VARIADAS/Dosis/Dosis-Regular.ttf);
    font-family: 'Dosis Regular';
    font-weight: 400;
}
@font-face {
    src: url(./../VARIADAS/Dosis/Dosis-Medium.ttf);
    font-family: 'Dosis Medium';
    font-weight: 500;
}
@font-face {
    src: url(./../VARIADAS/Dosis/Dosis-SemiBold.ttf);
    font-family: 'Dosis SemiBold';
    font-weight: 600;
}
@font-face {
    src: url(./../VARIADAS/Dosis/Dosis-Bold.ttf);
    font-family: 'Dosis Bold';
    font-weight: 700;
}
@font-face {
    src: url(./../VARIADAS/Dosis/Dosis-ExtraBold.ttf);
    font-family: 'Dosis Extra Bold';
    font-weight: 800;
}

/* #endregion Dosis */
/* #region Rajdhani */
@font-face {
    src: url(./../VARIADAS/Rajdhani/Rajdhani-Light.ttf);
    font-family: 'Rajdhani Light';
    font-weight: 300;
}
@font-face {
    src: url(./../VARIADAS/Rajdhani/Rajdhani-Regular.ttf);
    font-family: 'Rajdhani Regular';
    font-weight: 400;
}
@font-face {
    src: url(./../VARIADAS/Rajdhani/Rajdhani-Medium.ttf);
    font-family: 'Rajdhani Medium';
    font-weight: 500;
}
@font-face {
    src: url(./../VARIADAS/Rajdhani/Rajdhani-SemiBold.ttf);
    font-family: 'Rajdhani SemiBold';
    font-weight: 600;
}
@font-face {
    src: url(./../VARIADAS/Rajdhani/Rajdhani-Bold.ttf);
    font-family: 'Rajdhani Bold';
    font-weight: 700;
}
/* #endregion Rajdhani */
/* #region SourceSansPro */
@font-face {
    src: url(./../VARIADAS/Source_Sans_Pro/SourceSansPro-ExtraLight.ttf);
    font-family: 'Source Sans Pro Extra Light';
    font-weight: 200;
}
@font-face {
    src: url(./../VARIADAS/Source_Sans_Pro/SourceSansPro-ExtraLightItalic.ttf);
    font-family: 'Source Sans Pro Extra Light Italic';
    font-weight: 200;
}
@font-face {
    src: url(./../VARIADAS/Source_Sans_Pro/SourceSansPro-Light.ttf);
    font-family: 'Source Sans Pro Light';
    font-weight: 300;
}
@font-face {
    src: url(./../VARIADAS/Source_Sans_Pro/SourceSansPro-LightItalic.ttf);
    font-family: 'Source Sans Pro Light Italic';
    font-weight: 300;
}
@font-face {
    src: url(./../VARIADAS/Source_Sans_Pro/SourceSansPro-Regular.ttf);
    font-family: 'Source Sans Pro Regular';
    font-weight: 400;
}
@font-face {
    src: url(./../VARIADAS/Source_Sans_Pro/SourceSansPro-Italic.ttf);
    font-family: 'Source Sans Pro Regular Italic';
    font-weight: 400;
}
@font-face {
    src: url(./../VARIADAS/Source_Sans_Pro/SourceSansPro-SemiBold.ttf);
    font-family: 'Source Sans Pro SemiBold';
    font-weight: 600;
}
@font-face {
    src: url(./../VARIADAS/Source_Sans_Pro/SourceSansPro-SemiBoldItalic.ttf);
    font-family: 'Source Sans Pro SemiBold Italic';
    font-weight: 600;
}
@font-face {
    src: url(./../VARIADAS/Source_Sans_Pro/SourceSansPro-Bold.ttf);
    font-family: 'Source Sans Pro Bold';
    font-weight: 700;
}
@font-face {
    src: url(./../VARIADAS/Source_Sans_Pro/SourceSansPro-BoldItalic.ttf);
    font-family: 'Source Sans Pro Bold Italic';
    font-weight: 700;
}
@font-face {
    src: url(./../VARIADAS/Source_Sans_Pro/SourceSansPro-Black.ttf);
    font-family: 'Source Sans Pro Black';
    font-weight: 900;
}

/* #endregion SourceSansPro */
/* #region  Montserrat */
@font-face {
    src: url(./../VARIADAS/Montserrat/Montserrat-Thin.ttf);
    font-family: 'Montserrat Thin';
    font-weight: 100;
}
@font-face {
    src: url(./../VARIADAS/Montserrat/Montserrat-ThinItalic.ttf);
    font-family: 'Montserrat Thin Italic';
    font-weight: 100;
}
@font-face {
    src: url(./../VARIADAS/Montserrat/Montserrat-ExtraLight.ttf);
    font-family: 'Montserrat Extra Light';
    font-weight: 200;
}
@font-face {
    src: url(./../VARIADAS/Montserrat/Montserrat-ExtraLightItalic.ttf);
    font-family: 'Montserrat Extra Light Italic';
    font-weight: 200;
}
@font-face {
    src: url(./../VARIADAS/Montserrat/Montserrat-Light.ttf);
    font-family: 'Montserrat Light';
    font-weight: 300;
}
@font-face {
    src: url(./../VARIADAS/Montserrat/Montserrat-LightItalic.ttf);
    font-family: 'Montserrat Light Italic';
    font-weight: 300;
}
@font-face {
    src: url(./../VARIADAS/Montserrat/Montserrat-Regular.ttf);
    font-family: 'Montserrat Regular';
    font-weight: 400;
}
@font-face {
    src: url(./../VARIADAS/Montserrat/Montserrat-Italic.ttf);
    font-family: 'Montserrat Italic';
    font-weight: 400;
}
@font-face {
    src: url(./../VARIADAS/Montserrat/Montserrat-SemiBold.ttf);
    font-family: 'Montserrat SemiBold';
    font-weight: 600;
}
@font-face {
    src: url(./../VARIADAS/Montserrat/Montserrat-SemiBoldItalic.ttf);
    font-family: 'Montserrat SemiBold Italic';
    font-weight: 600;
}
@font-face {
    src: url(./../VARIADAS/Montserrat/Montserrat-Bold.ttf);
    font-family: 'Montserrat Bold';
    font-weight: 700;
}
@font-face {
    src: url(./../VARIADAS/Montserrat/Montserrat-BoldItalic.ttf);
    font-family: 'Montserrat Bold Italic';
    font-weight: 700;
}
@font-face {
    src: url(./../VARIADAS/Montserrat/Montserrat-ExtraBold.ttf);
    font-family: 'Montserrat Extra Bold';
    font-weight: 800;
}
@font-face {
    src: url(./../VARIADAS/Montserrat/Montserrat-ExtraBoldItalic.ttf);
    font-family: 'Montserrat Extra Bold Italic';
    font-weight: 800;
}
@font-face {
    src: url(./../VARIADAS/Montserrat/Montserrat-Black.ttf);
    font-family: 'Montserrat Black';
    font-weight: 900;
}
@font-face {
    src: url(./../VARIADAS/Montserrat/Montserrat-BlackItalic.ttf);
    font-family: 'Montserrat Black Italic';
    font-weight: 900;
}
/* #endregion  Montserrat */
/* #region Lobster-Regular */
@font-face {
    src: url(./../VARIADAS/Lobster/Lobster-Regular.ttf);
    font-family: 'Lobster Regular';
    font-weight: normal;
}
/* #endregion Lobster-Regular */
/* #region Lobster-Regular */
@font-face {
    src: url(./../3_Cursiva/Redressed/Redressed-Regular.ttf);
    font-family: 'Redressed-Regular';
    font-weight: normal;
}
/* #endregion Lobster-Re(gular */
